body{
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
}

.header{
	float: left;
	margin: 0;
	background-color: #d3d3d3;
	height: 250px;
	position: absolute;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 10px;
	color: #232121;
	margin-left: 20px;
}

p{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 1px;
	color: #232121;
}
#header-font {
	font-size: 38px;
}

.htext{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 1px;
	color: #232121;
	margin-left: 20px;
	margin-right:200px;
}

.graph_header_h1{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: 10px;
	color: #232121;
	text-align: left;
}

.rect{
	float:left;
}

.text{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 2px;
	color: #232121;
}

.scatterplot{
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 20px;
}

.graphic_header{
	margin-left: 20px;
	margin-bottom: 0px;
	margin-right: 200px;
	margin-top: 40px;		
}

.graphic_header_text{
	margin: 20px;
	margin-right: 200px;
	float: left;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 2px;
	color: #232121;
}